*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.btn-primary{
    padding: 15px 30px;
    border-radius: 5px;
    background: #FF900E;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
}
/* shared styles */

/* header section styles */
 header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px;
 }

 /* navbar styles */
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav-title{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
 }

 nav > ul{
    display: flex;
 }

 nav li{
    list-style-type: none;
    margin-left: 30px;
 }

 nav li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
 }
 /* navbar styles */ 

 /* .............. */

 /* banner styles */
  .banner-content{
    max-width: 600px;
    text-align: center;
    margin: 50px auto;
  }

  .banner-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
  }

  .banner-description{
    color: #727272;
    margin: 15px 0;
  }

  .banner-image{
   width: 100%;
   margin: 0 auto;
   height: auto;
  }
 /* banner styles */
/* header section styles */

/* .................... */

/* main section styles */
  main{
    max-width: 92%;
    margin: 70px auto 0 auto;
  }

  /* teams featured section styles */
  .teams-featured{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .teams-content{
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .teams-image{
    width: 50%;
    padding-left: 25px;
  }

  .teams-image img{
    width: 100%;
 }

  .teams-title{
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  .teams-title .quick{
    color: #727272;
    font-weight: 500;
  }

  .teams-title .of-our{
    color: #131313;
    font-weight: 700;
  }

  .teams-title .features{
    color: #FF900E;
    font-weight: 700;
  }

  .teams-description{
    font-size: 1rem;
    color: #727272;
    margin-bottom: 20px;
  }
  /* teams featured section styles */

  /* ............................ */


  /* feature section styles */

  .feature{
    display: flex;
    margin: 70px auto;
    justify-content: space-between;
  }

  .feature-content{
    width: 45%;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .love-enjoy h1{
     font-size: 2.8rem;
     margin-bottom: 10px;
     color: #131313;
     font-weight: 700;
     padding-left: 23px;
     border-left: 5px solid #FF900E;
  }

  .love-enjoy p{
    color: #727272;
  }

  .f-content-common{
     padding-left:23px ;
  }

  .f-content-common h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #131313;
    font-weight: 600;
  }

  .f-content-common p{
    color: #727272;
  }

  .feature-image{
    position: relative;
    width: 55%;
  }

  .feature-image img{
    margin-left: 30px;
    width: 95%;
    border-radius: 5px;
  }

  .feature-image .btn-feature {
    padding: 28px 40px;
    background: #FF900E;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    bottom: -60px;
    left: -10px;
    line-height: 40px;
  }

  .feature-image .btn-feature .experience{
    font-size: 1.6rem;
  }
  
  /* feature section styles */

  /* ................... */

  /* some-facts section */
  .some-facts{
    margin: 120px auto 0 auto;
  }

  .some-facts-content{
    width: 50%;
  }

  .some-facts-content h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #131313;
    font-weight: 700;
    padding-left: 23px;
 }

 .some-facts-content p{
   color: #727272;
   padding-left: 23px;
 }

 .some-facts-boxes{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
 }

 .common-boxes {
  background: #fff;
  border: 2px solid #FF900E;
  padding: 20px;
  width: 200px;
  height: 180px;
  text-align: center;
  line-height: 30px;
 }
  /* some-facts section */

  /* sponsor styles */
  .sponsor{
    margin: 70px auto 0 auto;
  }

  .sponsor-heading{
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .sponsor-heading h1{
    font-size: 2.4rem;
    color: #131313;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .sponsor-heading p{
    color: #727272;
  }

  .sponsor-item{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .sponsor-item img{
    width: 140px;
    height: 50px;
  }

  /* sponsor styles */

  
/* main section styles */


/* footer section styles */
 footer{
   max-width: 92%;
   margin: 100px auto 100px auto;
   background-color: #FFF4E7;
   padding: 30px;
   border-radius: 5px;
 }

 .footer-title{
   font-size: 1.2rem;
   text-align: center;
   color: #727272;
 }


/* footer section styles */









/* responsive for mobile device */
@media screen and (max-width: 576px) {
   
     header{
        padding: 20px;
     }

     nav{
        flex-direction: column;
        gap: 20px;
     }

     .banner-title {
        font-size: 2rem;
     }

     .teams-featured, .feature{
        flex-direction: column;
        width: 100%;
        gap: 30px;
     }

     .some-facts-boxes, .sponsor-item {
      flex-direction: column;
      align-items: center;
      gap: 20px;
     }

     .some-facts-boxes{
      padding: 0px;
     }

     .teams-image{
        grid-template-columns: 1fr;
        padding-left: 0px;
     }

     .teams-content, .feature-content, .some-facts-content, .sponsor-heading{
      padding: 0px;
      width: 100%;
     }

     .teams-image, .feature-image{
      padding-left: 0px;
      margin-left: 0px;
      width: 100%;
     }

     .feature-image .btn-feature {
      padding: 10px 20px;
      background: #FF900E;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 700;
      position: absolute;
      bottom: -40px;
      left: -10px;
      line-height: 40px;
    }

    .feature-image .btn-feature .experience{
      font-size: 1rem;
    }
 
    .some-facts-content{
      width: 100%;
      padding: 0;
      margin: 0;
    }

    footer{
      padding: 20px;
    }
    

  }
/* responsive for mobile device */

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
    header{
        padding: 50px;
    }


    .teams-featured, .feature{
      flex-direction: column;
      width: 100%;
      gap: 30px;
   }

   .teams-content, .feature-content{
    padding: 0px;
    margin: 0px;
    width: 100%;
   }

   .teams-image, .feature-image{
    padding: 0px;
    margin: 0px;
    width: 100%;
   }

   .some-facts-boxes {
    flex-direction: row;
    gap: 30px;
   }

   .some-facts-content{
    width: 90%;
  }

  .sponsor-item{
    justify-content: space-evenly;
  }

  .sponsor-item img{
    width: 100px;
  }

}
/* responsive for medium device */