*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.btn-primary{
    padding: 15px 30px;
    border-radius: 5px;
    background: #FF900E;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
}
/* shared styles */

/* header section styles */
 header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px;
 }

 /* navbar styles */
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav-title{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
 }

 nav > ul{
    display: flex;
 }

 nav li{
    list-style-type: none;
    margin-left: 30px;
 }

 nav li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
 }
 /* navbar styles */ 

 /* .............. */

 /* banner styles */
  .banner-content{
    max-width: 600px;
    text-align: center;
    margin: 50px auto;
  }

  .banner-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
  }

  .banner-description{
    color: #727272;
    margin: 15px 0;
  }

  .banner-image{
   width: 100%;
   margin: 0 auto;
   height: auto;
  }
 /* banner styles */
/* header section styles */

/* .................... */

/* main section styles */
  main{
    max-width: 92%;
    margin: 70px auto;
  }

  /* teams featured section styles */
  .teams-featured{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .teams-content{
    width: 50%;
    padding-left: 70px;
    padding-right: 70px;
  }

  .teams-image{
    width: 50%;
  }

  .teams-image img{
    width: 100%;
 }

  .teams-title{
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  .teams-title .quick{
    color: #727272;
    font-weight: 500;
  }

  .teams-title .of-our{
    color: #131313;
    font-weight: 700;
  }

  .teams-title .features{
    color: #FF900E;
    font-weight: 700;
  }

  .teams-description{
    font-size: 1rem;
    color: #727272;
    margin-bottom: 20px;
  }
  /* teams featured section styles */

  
/* main section styles */



/* responsive for mobile device */
@media screen and (max-width: 576px) {
   
     header{
        padding: 20px;
     }

     nav{
        flex-direction: column;
        gap: 20px;
     }

     /* .banner-title {
        font-size: 2rem;
     } */

     .teams-featured{
        flex-direction: column;
        width: 100%;
        gap: 30px;
     }

     .teams-image{
        grid-template-columns: 1fr;
        padding-left: 0px;
     }

     .teams-content{
      width: 100%;
     }

     .teams-image{
      width: 100%;
     }

  }
/* responsive for mobile device */

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
    header{
        padding: 50px;
    }

    nav{
        flex-direction: column;
        gap: 20px;
     }

    .teams-featured{
      flex-direction: column;
      width: 100%;
      gap: 30px;
   }

   .teams-content{
    padding: 0;
    width: 100%;
   }

   .teams-image{
    width: 100%;
   }

}
/* responsive for medium device */